body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    text-align: left;
    background-color: rgb(220, 220, 220)
}

#green-terminal {
    color: #00ff00;
    font-size: medium;
  }

a#green-terminal.navbar-brand::after {
    content: "";
    width: 8px;
    height: 1rem;
    background: #00ff00;
    display: inline-flex;
    animation: cursor-blink 1s steps(2) infinite;
  }

.content article p { 
    text-align: left
}

header {
    font-family: "Fira Mono", monospace;
}


@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }